@using IMS.CoreBusiness
@using IMS.UseCases.Inventories

@inject IViewInventoriesUseCase ViewInventoriesUseCase

<h3>Inventory List</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <InventoryListItemComponent Inventories="listInventories"></InventoryListItemComponent>
    </tbody>
</table>

@code {
    private List<Inventory> listInventories = new List<Inventory>();

    [Parameter]
    public string SearchTerm { get; set; } = String.Empty;

    protected override async Task OnParametersSetAsync()
    {
        listInventories = (await ViewInventoriesUseCase.ExecuteAsync(this.SearchTerm)).ToList();
    }

}
